.bar-main-2{
    width: 36%;
    margin-top: 35px;
    position:fixed;
    bottom:0px;
    right: 0px;
}
.bar-main{
    width: 67%;
    margin-top: 35px;
    position:fixed;
    bottom:0px;
    left: 0px;
}
.profile-pic {
    /* float: left; */
    margin-top: 85px;
    width: 180px;
    height: 180px;
    object-fit: cover;
   
}

.drink-pic {
    /* float: left; */
    margin-top: 85px;
    width: 180px;
    
}

.header {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    border-bottom: solid 2px #ba013b;
    padding-bottom: 20px;
    margin-top: 80px;
}

.drinkName {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid 2px #ba013b;
    margin-top: 8px;
    padding-bottom: 10px;
}

.recipe {
    margin-top: 10px;
}

.scroll {
  height: 280px;
  overflow: hidden;
}

.overflow {
  height: 100%;
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar */
  overflow-y: scroll;
}

.recipe:last-child {
    margin-top: 10px;
    border-bottom: solid 2px #ba013b;
    padding-bottom: 20px;
}

.new-drink {
    font-size: 12px;
    margin: 3px;
}

.new-photo {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}